    table{
        border-collapse: collapse;
        background-color: #379c9c;
        font-size: 23px;
    }
    
    th, td{
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    caption{
        font-size: 30px;
        font-weight: bold;
    }
    
    .company{
        font-weight:bold
    }
     
    th{
        background-color: #338684;
    }

    .row {
        display: flex;              
        flex-direction: row;         
        
        border: 1px solid gray;     
      }
      
      .list {       
        display: flex;           
        padding: 20px;
        box-shadow: 0px 4px 6px black;
        background-color: #297474;   
      }
      